@media (max-width: 992px){
    div#list-item-container span{
        flex-wrap: wrap;
    }
    #list-item-container{
        width: 103%;
    }
} 
@media (max-width: 776px){
    div#list-item-container span{
        flex-wrap: wrap;
    }
    #list-item-container{
        width: 104%;
    }
} 

@media (max-width: 576px) {
    div#list-item-container span{
        flex-wrap: wrap;
    }
    #list-item-container{
        width: 104%;
    }
}
@media (max-width: 480px) {
    div#list-item-container span{
        flex-wrap: wrap;
    }
    #list-item-container{
        width: 106%;
    }
}

#list-item-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#list-item-container span{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}